%li
  .friend-box{id: "approved-#{user.id}"}
    .avatar
      = image_tag(user.avatar)
    .info
      .name= user.display_name
    .action
      %p= link_to t("delete"), stub_path, id: 'cancel_friend_btn', class: 'btn_js', data: {action: reject_friend_user_path(user), method: :get, show_method:"remove", target: "#approved-#{user.id}"}
