%p= t("hello") @resource.email
%p= t("handler.messages.reset")
%p= link_to t("handler.messages.change"), edit_password_url(@resource, reset_password_token: @token)
%p= t("handler.messages.ignore")
%p= t("handler.messages.didnot")
